.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: $sm) {
  .container {
    max-width: $sm;
  }
}

@media (min-width: $md) {
  .container {
    max-width: $md;
  }
}

@media (min-width: $lg) {
  .container {
    max-width: $lg;
  }
}

// @media (min-width: $xl) {
//   .container {
//     max-width: $xl;
//   }
// }

// @media (min-width: $xxl) {
//   .container {
//     max-width: $xxl;
//   }
// }
