@use 'sass:math';
@use '../abstracts/functions';
@use '../abstracts/variables';

.home-section {
  background-image: linear-gradient(transparent, variables.$black 50%),
    url('/images/background.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: variables.$lg) {
    background-size: contain;
  }
}

.mistborn-logo {
  margin: 0 auto;
  height: auto;
  width: functions.rem(86);
}

.novel-author {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.novel-title {
  margin-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: variables.$serif-family;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.25em;
  text-shadow: 0 0 12px variables.$white;

  @media (min-width: variables.$sm) {
    font-size: 2.875rem;
    letter-spacing: 0.5em;
  }

  @media (min-width: variables.$md) {
    font-size: 3.5rem;
    letter-spacing: 0.875em;
  }

  @media (min-width: variables.$lg) {
    font-size: 4.125rem;
    letter-spacing: 1em;
  }
}

.novel-description {
  margin-top: functions.rem(28);
  text-align: center;
  line-height: 1.25;
  letter-spacing: functions.em(1);
}

.mistborn-box {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: percentage(math.div(10, 12));
}

.signature {
  position: relative;
  margin-top: 2.1875rem;
}

.signature-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 11.125rem;
  transform: translate(-50%, -50%);
  user-select: none;
}

.signature-text {
  text-align: center;
  font-family: variables.$serif-family;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.075em;

  > span {
    font-weight: 600;
  }
}
