.home-section {
  background-image: linear-gradient(transparent, $black 50%), url('/images/background.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: $lg) {
    background-size: contain;
  }
}

.object {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 5.375rem;
}

.novel-author {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.5rem;
}

.novel-title {
  margin-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 1rem);
  text-align: center;
  font-family: $serif-family;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 1rem;
  text-shadow: 0 0 12px $white;

  @media (min-width: $sm) {
    width: calc(100% - 1.5rem);
    font-size: 2.875rem;
    letter-spacing: 1.5rem;
  }

  @media (min-width: $md) {
    width: calc(100% - 1.875rem);
    font-size: 3.5rem;
    letter-spacing: 1.875rem;
  }

  @media (min-width: $lg) {
    width: calc(100% - 4.375rem * 2);
    font-size: 4.125rem;
    letter-spacing: 4.375rem;
  }
}

.novel-description {
  margin-top: 1.75rem;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 0.0625rem;
}

.mistborn-box {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: percentage(math.div(10, 12));
}

.signature {
  position: relative;
  margin-top: 2.1875rem;
}

.signature-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 11.125rem;
  transform: translate(-50%, -50%);
  user-select: none;
}

.signature-text {
  text-align: center;
  font-family: $serif-family;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.075rem;

  > span {
    font-weight: 600;
  }
}
