.introducing-section {
  margin-top: 2.5rem;
}

.introducing-title {
  text-align: center;
  font-family: $serif-family;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 12px rgba($white, 0.5);

  @media (min-width: $md) {
    font-size: 3rem;
  }
}

.introducing-description {
  margin-top: 2.875rem;
  text-align: center;
  line-height: 1.25rem;
  letter-spacing: 0.0625em;
}

.special-price-section {
  background-image: linear-gradient($black 25%, transparent, $black),
    url('/images/background-2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 3.75rem;
  padding-bottom: 4.25rem;
}

.special-price-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.special-price-countdown {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $serif-family;

  > * + * {
    margin-left: 1.5rem;
  }

  time,
  span {
    display: block;
  }
}

.countdown-time,
.countdown-colon {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 4.25rem;
}

.countdown-text {
  margin-top: 1.25rem;
  font-family: $sans-family;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
}

.order-now-button {
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 9999px;
  background-color: #f7b500;
  padding: 1rem 3.75rem;
  font-family: $serif-family;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5rem;
  color: $black;

  &:focus {
    outline: 0;
  }
}

.symbols-container {
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
  gap: 4rem;

  @media (min-width: $md) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.tour-title {
  margin-top: 3.5rem;
  text-align: center;
  font-family: $serif-family;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.3125em;
  text-shadow: 0 0 12px rgba($white, 0.5);
}

.tour-description {
  margin-top: 3.125rem;
  text-align: center;
  line-height: 1.25rem;
  letter-spacing: 0.0625em;
}
