.special-offer-section {
  margin-top: 4rem;
  background-image: linear-gradient($black, transparent, $black), url('/images/background-3.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.special-offer-grid {
  display: grid;
  gap: 1rem;

  @media (min-width: $lg) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.packshot {
  @media (min-width: $md) {
    margin-right: auto;
    margin-left: auto;
    width: percentage(math.div(10, 12));
  }

  @media (min-width: $lg) {
    width: auto;
  }
}

.special-offer-title {
  font-family: $serif-family;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.25rem;
  text-shadow: 0 0 12px rgba($white, 0.5);
}

.special-price {
  margin-top: 1.75rem;
  display: flex;
  align-items: baseline;
  line-height: 1;

  > * + * {
    margin-left: 1.5rem;
  }

  > span:nth-of-type(1) {
    font-family: $serif-family;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    color: #f7b500;
  }

  > span:nth-of-type(2) {
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-decoration: line-through;
  }
}

.special-offer {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.125rem;
}

.special-offer-button {
  display: block;
  width: 100%;
  margin-top: 2.25rem;
  border-radius: 9999px;
  background-color: #f7b500;
  padding: 1.125rem 3.75rem;
  font-family: $serif-family;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  color: $black;

  &:focus {
    outline: 0;
  }

  @media (min-width: $sm) {
    width: auto;
  }
}

.special-offer-guarantee {
  margin-top: 2.25rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.special-offer-payments {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;

  @media (min-width: $sm) {
    flex-direction: row;
    align-items: center;

    > * + * {
      margin-left: 1rem;
    }
  }
}

.payment-options-logotypes {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 1rem;
  }

  > img {
    height: auto;
    width: 4.5rem;
  }
}
