.the-making-title {
  text-align: center;
  font-family: $serif-family;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.the-making-video {
  @include aspect-ratio(16, 9);
  margin-top: 1.5rem;

  > * {
    border: 1px solid #f7b500;
  }
}
