@use 'sass:math';

@mixin aspect-ratio($width, $height) {
  position: relative;
  padding-bottom: percentage(math.div($height, $width));

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
