// Font Families
$serif-family: 'Cormorant SC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
$sans-family: 'Gilroy';

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Colors
$white: #fff;
$black: #000;
