@import 'abstracts/_variables';

@import 'base/_base';
@import 'base/_fonts';

html {
  font-family: $body-family, system-ui;
}

body {
  background-color: $black;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'components/_accessibility';
@import 'components/_container';

@import 'layouts/_header';
@import 'layouts/_home';
@import 'layouts/_special-offer';

// .aspect-ratio {
//   position: relative;
//   padding-bottom: calc(9 / 16 * 100%);

//   > * {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 100%;
//     width: 100%;
//   }
// }
