@import 'abstracts/_mixins';
@import 'abstracts/_variables';

@import 'base/_base';
@import 'base/_fonts';

html {
  font-family: $sans-family, system-ui;
}

body {
  background-color: $black;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'components/_accessibility';
@import 'components/_container';

@import 'layouts/_header';
@import 'layouts/_home';
@import 'layouts/_special-offer';
@import 'layouts/_the-making';
@import 'layouts/_box-contents';
@import 'layouts/_brandons-message';
@import 'layouts/_box-gallery';
